<div class="container-fluid">
  <div class="row header-height">
    <nav class="navbar col-sm-12 headerbg">
      <div class="col-sm-2">
        <a href="dashboard"><img src="../../assets/images/logo_inner.svg"></a>
      </div>
      <div class="col-md-4 text-right">
        <h2 class="welcomemsg">Welcome Narayana Murthy</h2>
      </div>
      <div class="col-md-6 text-right">
        <ul class="navbar-menuslist">
          <li><a routerLink="/profile" routerLinkActive="active" class=icons-size>PROFILE</a></li>
          <li *ngIf="!dataService.isAdmin"><a routerLink="/subscription" routerLinkActive="active" class=icons-size>SUBSCRIPTION DETAILS</a></li>
          <li *ngIf="dataService.isAdmin"><a routerLink="/userform" routerLinkActive="active" class=icons-size>NEWUSER FORM</a></li>
          <li *ngIf="dataService.isAdmin"><a routerLink="/Usersdetails" routerLinkActive="active" class=icons-size>USERS DETAILS</a></li>
          <li><a routerLink="/login" routerLinkActive="active" class="logout-size"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
        </ul>
      </div>
    </nav>
  </div>





  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
</div>