<div class="container-scroller">
  <div class="container-fluid">
    <div class="content-wrapper d-flex mgtop30">
      <div class="col-lg-4 mx-auto">
        <div class="banner form-bg py-5 px-4 px-sm-5">
          <div class="logo">
            <img src="../assets/images/logo.svg" alt="logo">
          </div><br>
          <div class="heading">
            <h2>వాసుదేవ!</h2>
            <h4 class="">శ్వేతద్వీపం మాసపత్రిక చదువుటకు క్రింది Form లో మీ Username మరియు Password ఇచ్చి Login అవ్వండి.
            </h4>
          </div>
          <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <div class=" login form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  [(ngModel)]="email" placeholder="abc@gmail.com"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class=" login form-group">
          <label>Password</label>
          <input [type]="passwordShown?'text':'password'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="password" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
          <i class="fa fa-eye password-icon" (click)="passwordShow()"></i>
        </div>
               <div class=" login form-group">
                  <button type="Submit" class="btn btn-block btn-primary btn-lg"  [disabled]="loginform.invalid" (click)="onclick(f)">Login</button>
                </div>
         </form>
          <!-- <div class="newuser">
            <a class="nav-link" [routerLink]="['signup']">New user</a>
            <a [routerLink]="['/newuser']" class="auth-link">New user</a>
                     <router-outlet></router-outlet>  

          </div> -->
          <div class="text-center" >
            <a href="" class="bold-font">Forgot password?</a>
            {{f.value | json}}
          </div>
          <div class="row text-center">
            <div class="col-sm-12 text-center msgbox">
              <p class="msgbox-text">For subscription details please contact</p>

              <br>
             <span class="bold-font">SP.PHANI GOPAL (7013607942)</span><br>
              <br>
              <span class="bold-font">P.NARAYANA MURTHY (9652049992)</span>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
