.body{
    text-align: center;
}
 .main{
    /* min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px; */
    border: 10px solid black;
    text-align: center;
    width: 50%;
} 