<app-navbar></app-navbar>
<div class="mgtop30">
   <div class="text-center">
       <h2>Total users:30</h2>
   </div>
   <div class="col-sm-12">
    <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        </div>
</div>