<app-navbar></app-navbar>

  <div class="body">
   <h3>search:</h3><input type="text" placeholder="enter values"  (input)="search()" [(ngModel)]=" firstname">
   <br><br>
       
       <table class="main" border="1" align="center" >
           <tr>
           <th>Name</th>
           <th>subscriptionId</th>
           <th>subscriptionStartDate</th>
           <th>subscriptionEndDate</th>
           <th>phoneNo</th>
           </tr>
          

           <tr *ngFor="let user of users ">
               <td>{{user.Name}}</td>
               <td>{{user.subscriptionId}}</td>
               <td>{{user.subscriptionStartDate}}</td>
               <td>{{user.subscriptionEndDate}}</td>
               <td>{{user.phoneNo}}</td>

           </tr>




       </table>
  </div>

       
  
    <!-- <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div> -->


    <!-- <div class="col-sm-12">
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        </div> -->
