<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row searchpanel" text-align="center">
      <div class=" col-sm-4 searchheading"><h3>Search:</h3></div>
      <div class="col-sm-8 searchfield"> <input type="text" placeholder="Enter Values"   (input)="search()" [(ngModel)]=" firstname"><i class="fa fa-search"></i></div>
  
  </div>      
       
       <table class="main" >
           <tr>
           <th>Name</th>
           <th>Subscription Id</th>
           <th>Subscription Start Date</th>
           <th>Subscription End Date</th>
           <th>Phone.No</th>
           </tr>
          

           <tr *ngFor="let user of users ">
               <td>{{user.Name}}</td>
               <td>{{user.subscriptionId}}</td>
               <td>{{user.subscriptionStartDate}}</td>
               <td>{{user.subscriptionEndDate}}</td>
               <td>{{user.phoneNo}}</td>

           </tr>




       </table>
</div>
  

       
  
    <!-- <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-bg">
        <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
            <div class="col-sm-6">
                <label>Name</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>Xyz</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Id</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 marginbtm-form headingsfont">
            <div class="col-sm-6">
                <label>Subscription Start Date</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
        <div class="col-sm-12 headingsfont">
            <div class="col-sm-6">
                <label>Phone No</label>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-5">
                <label>123</label>
            </div>
        </div>
    </div> -->


    <!-- <div class="col-sm-12">
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card-bg">
            <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
                <div class="col-sm-6">
                    <label>Name</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>Xyz</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Id</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 marginbtm-form headingsfont">
                <div class="col-sm-6">
                    <label>Subscription Start Date</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
            <div class="col-sm-12 headingsfont">
                <div class="col-sm-6">
                    <label>Phone No</label>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-5">
                    <label>123</label>
                </div>
            </div>
        </div>
        </div> -->
