<app-navbar></app-navbar>
<div class="profile-pagebg">
    <div class="text-center">
        <img src="../../assets/images/profile.png" class="profile-photo">
    </div>
    <div class="row text-center profile-form">
        <form>
            <div class="form-group col-sm-12">
                <label for="inputEmail3" class="col-sm-5 col-form-label">First Name</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="First Name">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Last Name</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="First Name">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputPassword3" class="col-sm-5 col-form-label">Phone No</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Phone No">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputPassword3" class="col-sm-5 col-form-label">Create Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Create Password">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="inputPassword3" class="col-sm-5 col-form-label">Confirm Create Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
                </div>
            </div>
            <div class="marginauto col-sm-12 marginbtm-form">
                <button type="Submit" class="btn btn-success btn-lg btn-borders">SUBMIT</button>
            </div>
        </form>
    </div>
</div>