<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card card-title text-center width-600">
                <div class="card-header text-center">
                    <img  width="350" src="../../assets/images/logo.svg"/>
                    <h3><b>change password</b></h3>
                </div>
                <div class="card-body">
                      <div class="card-block">
                        <form novalidate=""  #f="ngForm">
                            <div class="input-group">
                                <input type="text" class="form-control square" ngModel  name="mobileNumber" #mobileNumber="ngModel" placeholder="Enter mobile number" />
                                <div class="input-group-append">
                                    <span class="input-group-btn" id="button-addon2"  >
                                        <button class="btn inform-btn btn-raised btn-primary square" type="button" (click) = "onVerifyUserMobileNumber(f)">Verify</button>
                                    </span>
                                </div>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="userMobNumberIsEmpty">Please enter your Mobile Number</small>
                            <small class="form-text text-muted danger" *ngIf="userMobNumberIsWrong">Invalid Mobile Number</small>

                            <div class="form-group col-md-12" *ngIf = "showOtpScreen"> 
                                <div class="input-group">
                                    <input type="number" class="form-control square" ngModel name="numberotp" #numberotp="ngModel" number placeholder="OTP number" />
                                    <div class="input-group-append">
                                        <span class="input-group-btn" id="button-addon2">
                                            <button class="btn inform-btn btn-raised btn-primary square" type="button" (click) = "onConfirmMobileNo(f)" >Confirm</button>
                                        </span>
                                    </div>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="otpEnteredIsWrong">Invalid OTP </small>
                            </div>

                            <div class= "form-group col-md-12" *ngIf = "showPasswordChange">

                                <input type="password" class="form-control square" ngModel name="changePassword" #changePassword="ngModel" appTogglePassword placeholder="Enter password" required />
                                <small class="form-text text-muted danger" *ngIf="passwordIsEmpty">Please Enter New Password</small>
                            </div>
                            <div class="form-group" *ngIf = "showPasswordChange">

                                <div class="col-md-12">
                                        <button  class="btn btn-primary btn-raised square" type="button" (click)="onUpdate(f)">Update</button>
                                </div>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

