<app-navbar></app-navbar>
<div class="profile-pagebg">
    <div class="row mgtop30">
    <form>
    <div class="col-sm-12 marginbtm-form mgtop20 headingsfont">
        <div class="col-sm-6">
            <label>Subscription Id</label>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-5">
            <label>123</label>
        </div>
    </div>
    
    <div class="col-sm-12 marginbtm-form headingsfont">
        <div class="col-sm-6">
            <label>Subscription Start Date</label>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-5">
            <label>123</label>
        </div>
    </div>
    <div class="col-sm-12 marginbtm-form headingsfont">
        <div class="col-sm-6">
            <label>Subscription End Date</label>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-5">
            <label>123</label>
        </div>
    </div>
    </form>
</div>
</div>