<app-navbar></app-navbar>
<div class="col-sm-12 row">
  <nav class="sidebar col-sm-2">
   
    <!-- <div class="dropdown" *ngFor="let years of yearlist">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
     
      </button> -->
      <div class="dropdown dropright" *ngFor="let years of yearlist">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      {{ years.year}}
    </button>
     <div class="dropdown-menu" *ngFor="let months of years.month">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="">జనవరి </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఫిబ్రవరి </a></li>
          <li class="nav-item"> <a class="nav-link" href="">మార్చ్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఏప్రిల్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">మే </a></li>
          <li class="nav-item"> <a class="nav-link" href="">జూన్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">జులై </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఆగష్టు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">సెప్టెంబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">అక్టోబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">నవంబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">డిసెంబరు </a></li>
        </ul>
        
      </div> 
    </div>
    <!-- {{currentDate | date:'yyyy'}} -->
    <!-- <div class="container" *ngFor="let years of yearlist">
      <a href="#demo" class="btn btn-primary collapse-year" data-toggle="collapse"> {{ years.year}}</a>
      <div id="demo" class="collapse" *ngFor="let months of years.month">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="">జనవరి </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఫిబ్రవరి </a></li>
          <li class="nav-item"> <a class="nav-link" href="">మార్చ్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఏప్రిల్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">మే </a></li>
          <li class="nav-item"> <a class="nav-link" href="">జూన్ </a></li>
          <li class="nav-item"> <a class="nav-link" href="">జులై </a></li>
          <li class="nav-item"> <a class="nav-link" href="">ఆగష్టు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">సెప్టెంబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">అక్టోబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">నవంబరు </a></li>
          <li class="nav-item"> <a class="nav-link" href="">డిసెంబరు </a></li>
        </ul>
      
      </div>
    </div> -->
    
   
  </nav>
  <div class="main-pannel col-sm-10">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
          <h3 class="page-heading">శ్వేతద్వీపం మాసపత్రిక - ఆగష్టు 2020</h3>
        </div>
            <div class="col-sm-6 text-right">
              <button type="button" class="btn btn-download"> 
                <i class="fa fa-download"></i>Download </button>
            </div>
         
        </div>
      </div>
      <div class="col-sm-12 section-book">
          <embed type="application/pdf" src="../../assets/pdf/mt2019_detailed.pdf" style="width:100%;height:800px">
        
      </div>
    </div>
  </div>
</div>