<app-navbar></app-navbar>
<div class="col-sm-12 row">
  <nav class="sidebar col-sm-2">
    <ul class="sidebar-periods">
      <li>
        <div class="panel-info">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar2020">
            <span>2020</span>
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
            <!-- The inside div eliminates the 'jumping' animation. -->
            <div class="collapse" id="bar2020">
              <ul class="months-list">
                <li>
                  <a class="nav-link" href="#">జనవరి 2020</a>
                  <a class="nav-link" href="#">ఫిబ్రవరి 2020</a>
                  <a class="nav-link" href="#">మార్చ్ 2020</a>
                  <a class="nav-link" href="#">ఏప్రిల్ 2020</a>
                  <a class="nav-link" href="#">మే 2020</a>
                  <a class="nav-link" href="#">జూన్ 2020</a>
                  <a class="nav-link" href="#">జులై 2020</a>
                  <a class="nav-link" href="#">ఆగష్టు 2020</a>
                  <a class="nav-link" href="#">సెప్టెంబరు 2020</a>
                  <a class="nav-link" href="#">అక్టోబరు 2020</a>
                  <a class="nav-link" href="#">నవంబరు 2020</a>
                  <a class="nav-link" href="#">డిసెంబరు 2020</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-info">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar2019">
            <span>2019</span>
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
            <!-- The inside div eliminates the 'jumping' animation. -->
            <div class="collapse" id="bar2019">
              <ul class="months-list">
                <li>
                  <a class="nav-link" href="#">జనవరి 2019</a>
                  <a class="nav-link" href="#">ఫిబ్రవరి 2019</a>
                  <a class="nav-link" href="#">మార్చ్ 2019</a>
                  <a class="nav-link" href="#">ఏప్రిల్ 2019</a>
                  <a class="nav-link" href="#">మే 2019</a>
                  <a class="nav-link" href="#">జూన్ 2019</a>
                  <a class="nav-link" href="#">జులై 2019</a>
                  <a class="nav-link" href="#">ఆగష్టు 2019</a>
                  <a class="nav-link" href="#">సెప్టెంబరు 2019</a>
                  <a class="nav-link" href="#">అక్టోబరు 2019</a>
                  <a class="nav-link" href="#">నవంబరు 2019</a>
                  <a class="nav-link" href="#">డిసెంబరు 2019</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-info">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar2018">
            <span>2018</span>
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
            <!-- The inside div eliminates the 'jumping' animation. -->
            <div class="collapse" id="bar2018">
              <ul class="months-list">
                <li>
                  <a class="nav-link" href="#">జనవరి 2018</a>
                  <a class="nav-link" href="#">ఫిబ్రవరి 2018</a>
                  <a class="nav-link" href="#">మార్చ్ 2018</a>
                  <a class="nav-link" href="#">ఏప్రిల్ 2018</a>
                  <a class="nav-link" href="#">మే 2018</a>
                  <a class="nav-link" href="#">జూన్ 2018</a>
                  <a class="nav-link" href="#">జులై 2018</a>
                  <a class="nav-link" href="#">ఆగష్టు 2018</a>
                  <a class="nav-link" href="#">సెప్టెంబరు 2018</a>
                  <a class="nav-link" href="#">అక్టోబరు 2018</a>
                  <a class="nav-link" href="#">నవంబరు 2018</a>
                  <a class="nav-link" href="#">డిసెంబరు 2018</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-info">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#bar2017">
            <span>2017</span>
            <i class="fa fa-fw fa-chevron-down"></i>
            <i class="fa fa-fw fa-chevron-right"></i>
          </div>
          <div class="panel-body">
            <!-- The inside div eliminates the 'jumping' animation. -->
            <div class="collapse" id="bar2017">
              <ul class="months-list">
                <li>
                  <a class="nav-link" href="#">జనవరి 2017</a>
                  <a class="nav-link" href="#">ఫిబ్రవరి 2017</a>
                  <a class="nav-link" href="#">మార్చ్ 2017</a>
                  <a class="nav-link" href="#">ఏప్రిల్ 2017</a>
                  <a class="nav-link" href="#">మే 2017</a>
                  <a class="nav-link" href="#">జూన్ 2017</a>
                  <a class="nav-link" href="#">జులై 2017</a>
                  <a class="nav-link" href="#">ఆగష్టు 2017</a>
                  <a class="nav-link" href="#">సెప్టెంబరు 2017</a>
                  <a class="nav-link" href="#">అక్టోబరు 2017</a>
                  <a class="nav-link" href="#">నవంబరు 2017</a>
                  <a class="nav-link" href="#">డిసెంబరు 2017</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <div class="main-pannel col-sm-10">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
          <h3 class="page-heading">శ్వేతద్వీపం మాసపత్రిక - ఆగష్టు 2020</h3>
        </div>
            <div class="col-sm-6 text-right">
              <button type="button" class="btn btn-download"> 
                <i class="fa fa-download"></i>Download </button>
            </div>
         
        </div>
      </div>
      <div class="col-sm-12 section-book">
          <embed type="application/pdf" src="../../assets/pdf/mt2019_detailed.pdf" style="width:100%;height:800px">
        
      </div>
    </div>
  </div>
</div>